body {
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
    font-size: 200%;
}

textarea {
    height: 50vh;
    width: 80%;
    font-size: small;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.new-page-button, .edit-page-button {
    background-color: rgba(0, 13, 255, 0.653);
    border: none;
    border-radius: 2px;
    margin-top: 7px;
    padding: 10px;
    color: white;

}

.new-page-button:hover, .edit-page-button:hover {
    background-color: rgba(104, 104, 254, 0.751);
    cursor: pointer;
}

.title-form {
    font-size: smaller;
    width: 150px;
}

.edit-button {
    background-color: rgba(0, 13, 255, 0.766);
    border: none;
    margin-top: 10px;
    border-radius: 2px;
    padding: 7px;
    color: white;
}

.delete-page-button {
    background-color: rgba(255, 0, 0, 0.826);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 7px;
    margin-left: 1000px;
}

.delete-page-button:hover {
    background-color: rgba(255, 81, 81, 0.823);
}

.edit-button:hover {
    background-color: rgba(75, 84, 249, 0.766);
}


