{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <form action="{% url 'new_page' %}" method = "POST" autocomplete="off">
      {% csrf_token %}
      <label>Enter Title of the page:</label>
      <input name="title" type="text" placeholder="Here goes your title!" class="title-form" role="form">
      <br/>
      <label>Enter the content:</label>
      <br/>
      <textarea name="content" placeholder="Enter the content in Markdown!"></textarea>
      <br/>
      <input type="submit" value="New Page" class="new-page-button" role="button">


</form>
{% endblock %}

